Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem error similique eum unde, eaque incidunt, perspiciatis sint tempore ratione cumque voluptas, veritatis quae. Voluptatum dolore nostrum, omnis obcaecati incidunt maxime.
<div style="background: #f00;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, totam, odit? Nulla reprehenderit illo maxime, cupiditate, odio assumenda. Fugit vero, pariatur itaque nisi molestiae quidem accusantium, incidunt nostrum beatae. Facilis.</div>
<p style="background: #0f0;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus animi quibusdam ab atque, ipsa qui magni soluta pariatur. Culpa amet nihil non blanditiis possimus ipsam molestiae, perspiciatis cumque, omnis numquam.
    <a href="http://www.codeclassroom.com">腾讯课堂</a>
</p>
<div class="my-cls" style="background: #ff0;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum natus placeat amet, eum quo cumque quae facere, nihil delectus, aliquid aspernatur dolorum! Tenetur delectus alias recusandae. Praesentium fuga optio, at.</div>
