<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>编辑图书</title>
</head>
<body>
	<h1>图书编辑</h1>
	<form action="" method="post">
		<table border="1" cellpadding="5">
			<tr>
				<td>标题：</td>
				<td>
					<input type="text" name="title" value="{{ book[0] }}">
				</td>
			</tr>
			<tr>
				<td>分类：</td>
				<td>
					<input type="text" name="genreid" value="{{ book[1] }}">
				</td>
			</tr>
			<tr>
				<td>作者：</td>
				<td>
					<input type="text" name="author" value="{{ book[2] }}">
				</td>
			</tr>
			<tr>
				<td>封面：</td>
				<td>
					<input type="text" name="cover" value="{{ book[3] }}">
				</td>
			</tr>
			<tr>
				<td>前言：</td>
				<td>
					<textarea name="preface" id="" cols="30" rows="10">{{ book[4] }}</textarea>
				</td>
			</tr>
			<tr>
				<td>定价：</td>
				<td>
					<input type="text" name="price" value="{{ book[5] }}">
				</td>
			</tr>
			<tr>
				<td>验证：</td>
				<td>
					<input type="checkbox" name="isvalid" {{ "checked='checked'" if book[6]==1 else "" }}>
				</td>
			</tr>
			<tr>
				<td>出版时间：</td>
				<td>
					<input type="text" name="pubdate" value="{{ book[7] }}">
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" value="提交">
					<a href="{{ url_for('book_list') }}">返回列表</a>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>